#div404 {
    width: 100%;
    background: repeating-linear-gradient(90deg, #009FFD, #53a7d8 50%,#009FFD 100%);
    color: white;
    position: relative;
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;    
}

#div404 * {
    font-size: xx-large;
    font-weight: 700;
    text-shadow: 0 0 8px grey;
}

#div404 > h1 {
    font-size: 128px;
}