:root {
    --primary-hue: 0;
    --primary-saturation: 0%;

    --primary-000: hsl(0, 00%, 100%);
    --primary-100: hsl(0, 0%, 90%);
    --primary-200: hsl(0, 0%, 80%);
    --primary-300: hsl(0, 0%, 70%);
    --primary-400: hsl(0, 0%, 60%);
    --primary-500: hsl(0, 0%, 50%);
    --primary-600: hsl(0, 0%, 40%);
    --primary-700: hsl(0, 0%, 30%);
    --primary-750: hsl(0, 0%, 25%);
    --primary-800: hsl(0, 0%, 20%);
    --primary-850: hsl(0, 0%, 15%);
    --primary-900: hsl(0, 0%, 10%);
    --primary-950: hsl(0, 0%, 5%);
    --primary-1000: hsl(0, 0%, 0%);
}

#app {
    height: 100vh;
    background-color: var(--primary-850);
    display: flex;
    color: white;
}

/* 
Css related to GuildSelectList Component
*/

#guildSelectList {
    height: 100vh;
    width: 70px;
    padding: 10px;
    background-color: var(--primary-900);
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

[id^=selectGuildId] {
    margin: 8px 0;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 1000px;
}

/* 
Css related to UserInformation Component
*/

#userInformation {
    min-width: 20%;
    max-width: 300px;
    height: 60px;
    background-color: var(--primary-800);
    position: absolute;
    bottom: 0;
    left: 70px;
    display: flex;
    align-items: center;
    padding-right: 5px;
}

#userInfo {
    width: 60%;
    padding-left: 8px;
}

#userInfo > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0; 
    text-align: left;
}

#userInfo > p:first-of-type {
    font-weight: bold;
    font-size: small;
}

#userInfo > p:nth-of-type(2) {
    font-size: x-small;
}

#userInfoIcons {
    width: 40%;
    display: flex;
    flex-wrap: nowrap;
}

#userInfoIcons > * {
    border-radius: 10px;
    padding: 6px;
    width: 3em;
    height: 80%;
}

/* Settings button exception */
#userInfoIcons > * > svg { width: 100%; height: 100%; }

#userInfoIcons > *:hover {
    background-color: var(--primary-700);
    cursor: pointer; /* it's still needed for other icons in user info bar */
}

/*
Css related to FriendsList Component
*/

#friendsList {
    min-width: 20%;
    max-width: 300px;;
    background-color: var(--primary-750);
    height: 100vh;
}