/*
This css file covers the Home page layout and form styling and general page styling 
*/

#componentsBox {
    display: flex;
    flex-wrap: nowrap;
}

#componentsBox > div:first-child {
    background: linear-gradient(90deg, #009FFD, #2A2A72);
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#componentsBox > div:last-child {
    width: 100%;
    height: 200vh;
    background: linear-gradient(90deg, #2A2A72, #030369);
    position: absolute;
    margin-left: 100%;
}

.loginForm > div, .registerForm > div {
    width:100%;
}

#emptySpace, #agreement {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm, .registerForm {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.form-label {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    text-shadow: 1px 1px 10px rgb(250, 155, 171);
}

.form-control:hover {
    box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.2);
}

.formButton {
    min-height: 4vh;
    width: 80%;
    background: linear-gradient(90deg, rgb(0,0,128), rgb(0,0,196));
    border-radius: 12.5px;
    font-weight: bolder;
}

.formButton:hover {
    box-shadow: 0 0 8px 8px rgba(255,255,255, .2);
} 

p {
    font-size: large;
    text-align: center;
}

a {
    text-decoration: none;
    color: pink;
}

a:hover {
    color: pink;
    text-shadow: 0 0 5px white;
}

.was-validated .form-control:invalid {
    border: 3px solid red;
}
.invalid-feedback {
    color: red;
    text-shadow: 0 0 10px white ;
}