/**
  *This css file covers the Home page styling
  */

/**
  *Css below covers general styling for home page
  */

#componentsBox {
    color: white;
    width: 200%;
    display: flex;
    flex-wrap: nowrap;
    background: repeating-linear-gradient(90deg, #009FFD, #53a7d8 25%,#009FFD 50%);
}

#componentsBox > div {
    width: 50%; /* Div now has 50% of 200% so it has 100% width */
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginForm > div, #registerForm > div {
    width: 100%;
}

#emptySpace, #agreement {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginForm, #registerForm {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.form-label {
    width: 100%;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0;
    text-shadow: 1px 1px 10px rgb(250, 155, 171);
}

.form-control:hover {
    box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.2);
}

.form-control:focus {
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.25);
} 

.formButton {
    min-height: 4vh;
    width: 80%;
    background: linear-gradient(90deg, rgb(0,0,128), rgb(0,0,196));
    border-radius: 12.5px;
    font-weight: bolder;
}

.formButton:hover {
    box-shadow: 0 0 8px 8px rgba(255,255,255, .2);
}

p {
    font-size: large;
    text-align: center;
}

a {
    text-decoration: none;
    color: pink;
}

a:hover {
    color: pink;
    text-shadow: 0 0 5px white;
}

/**
  * Styling for login section and register form
  */

.was-validated .form-control:invalid, .was-validated .form-control:valid {
    border-width: 3px;
}

.invalid-feedback {
    color: red;
    text-shadow: 0 0 10px white ;
}

.hidden {
    display: none;
}

.visible {
    color: red;
    font-size: 0.875em;
    text-shadow: 0 0 10px white;
}

#registerForm {
    height: 50%;
    width: 40vh;
}

#agreementForm {
    width: 100%;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
}

#agreementForm > :first-child {
    margin: 10px;
}

/**
  * Css related to the agreement section
  */

#agreement > div {
    width: 60%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    width: 100%;
    list-style-type: none;
    font-size: larger;
    padding: 0;
}

section {
    width: 100%;
}
