#agreement > div {
    width: 60%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    width: 100%;
    list-style-type: none;
    font-size: larger;
    padding: 0;
}

section {
    width: 100%;
}