body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Helvetica';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    scroll-behavior: smooth;
}

#root {
    width: 100%;
}